* {
  box-sizing: border-box;
}
.home-container,
.favorites-container,
.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  width: 100%;
  padding: 15px;
}

@media (max-width: 992px) {
  .home-container,
  .favorites-container,
  .recipe-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 480px) {
  .home-container,
  .favorites-container,
  .recipe-list {
    grid-template-columns: 1fr;
  }
}
